.histogram{
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    padding: 16px 24px 24px 24px;
}

.histogram__header{
    display: flex;
    justify-content: space-between;
}

.histogram__total-order{
    display: flex;
    flex-direction: column;
}

.histogram__total-title{
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}

.histogram__total-cost{
    font-size: 20px;
    line-height: 26px;
    padding-top: 6px;
    margin: 0;
}

.histogram__view-all{
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: var(--blue);
    text-decoration: none;
}

.histogram__chart{
    margin-top: 24px;
    height: 50px;
    display: flex;
    align-items: flex-end;
    gap: 2px;
}

.histogram__chart-column{
    background-color: var(--blue);
    width: 9px;
}