.calendar{
    width: 300px;
    max-width: 100%;
    padding: 28px 36px;
    border: 1px solid #ACB5BD;
    border-radius: 8px;
}

.calendar__title{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #334D6E;
    margin-bottom:24px;
}

.calendar__wrapper{
    position: relative;
    padding-bottom: 100%;
}

.calendar__inner{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.calendar__item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar__item-day,
.calendar__item-number{
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.calendar__item-day{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #90A0B7;
}

.calendar__item-number{
    font-family: 'Source Sans Pro';
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #334D6E;
}

.calendar__item-number:hover{
    cursor: pointer;
}

.calendar__item-number_blue-heavy{
    color: var(--white);
    background: rgba(66, 99, 235, 1);
}

.calendar__item-number_blue-light{
    background: rgba(160, 177, 245, 0.2);
}